body {
    background-color:black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;

    padding-top: 120px;
}

h1 {
    color: red;
    font-size: 50px;
}

p {
    font-size: 24px;
    color: white;
}
nav {
    background-color: red;
    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav h2 {
    color: white;
}
h2 {
    color: white;
}

button {
    background-color: red;
    color: white;
    padding: 12px 25px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
button {
    background-color: red;
    color: white;
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: darkred;
    transform: scale(1.05);
}
section {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
}

section h2 {
    color: red;
    font-size: 36px;
}

section p {
    font-size: 20px;
    line-height: 1.8;
}
.hero{
background:
linear-gradient(rgba(0,0,0,0.65),
rgba(0,0,0,0.65)),
url("karatehomepage.jpeg");
    background-size: cover;
    background-position: center;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 2px 2px 10px black;
}
.classes{
    width: 80%;
    margin: 60px auto;
}

.class-card{
    background: #222;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border-left: 5px solid red;
}

.class-card h3{
    color: red;
}

.class-card p{
    color: white;
}
.class-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.class-card{
    flex: 1;
    min-width: 250px;
}
